<!doctype html>
<html lang="en">

<head>
    <title>Daily activity no 1</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <script src=" https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.js "></script>
    <style>
        body{
            margin: 10%;
            background-image: url("image/pexels-karolina-grabowska-4464918.jpg");
            background-size: cover;
        }
    </style>

</head>

<body ng-app>
    <h1>Event Handling in Angular JS</h1>
    <!-- <div ng-init="firstname='Padam singh'">
        <p ng-bind="firstname"></p>
    </div> -->


    <!-- This is the wrong way to use ng-model becaues model is use for input's -->
    <!-- <div ng-model="firstname='Padam Singh'">
        <p ng-bind="firstname"></p>

    </div> -->



    <div class="container-fluid row" style="display: flex;">
        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-click="click= click + 1" ng-init="click = 0"> Click  
            </button>
            <p ng-bind="click" style="color: red; font-size: x-large;"></p>
        </div>

        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-mousemove="mousemove= mousemove + 1" ng-init="mousemove = 0"> Mousemove  
            </button>
            <p ng-bind="mousemove" style="color: rgb(252, 162, 8); font-size: x-large;"></p>
        </div>


        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-mouseup="mouseup= mouseup + 1" ng-init="mouseup = 0"> Mouseup  
            </button>
            <p ng-bind="mouseup" style="color: rgb(70, 26, 77); font-size: x-large;"></p>

        </div class="col-3">

        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-mousedown="mousedown= mousedown + 1" ng-init="mousedown = 0"> Mousedown  
            </button>
            <p ng-bind="mousedown" style="color: rgb(0, 24, 209); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-mouseenter="mouseenter= mouseenter + 1" ng-init="mouseenter = 0"> Mouseenter  
            </button>
            <p ng-bind="mouseenter" style="color: rgb(218, 0, 207); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
         
            <button class="btn bg-info col-8" value="" ng-mouseover="mouseover= mouseover + 1" ng-init="mouseover = 0"> Mouseover  
            </button>
            <p ng-bind="mouseover" style="color: rgb(184, 2, 87); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
         
            <p class=" bg-info col-8" value="" ng-cut="cut= cut + 1" ng-init="cut = 0"> Select me and cut me
            </p>
            <p ng-bind="cut" style="color: rgb(197, 12, 12); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
            <p class=" bg-info col-8" value="" ng-copy="copy= copy + 1" ng-init="copy = 0"> Select me and copy me
            </p>
            <p ng-bind="copy" style="color: rgb(21, 163, 43); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-keypress="keypress= keypress + 1" ng-init="keypress = 0"> Keypress  
            </button>
            <p ng-bind="keypress" style="color: rgb(8, 134, 252); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-keyup="keyup= keyup + 1" ng-init="keyup = 0"> Keyup  
            </button>
            <p ng-bind="keyup" style="color: rgb(252, 8, 138); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-keydown="keydown= keydown + 1" ng-init="keydown = 0"> Keydown  
            </button>
            <p ng-bind="keydown" style="color: rgb(4, 48, 24); font-size: x-large;"></p>

        </div class="col-3">


        <div class="col-3">
            <button class="btn bg-info col-8" value="" ng-dblclick="dblclick= dblclick + 1" ng-init="dblclick = 0"> Double Click Me  
            </button>
            <p ng-bind="dblclick" style="color: rgb(8, 57, 252); font-size: x-large;"></p>

        </div class="col-3">


        


        

        
    </div>







    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>